:root {
    --background: rgb(255, 214, 91);
    --text-and-stroke: rgb(29, 95, 232);
    --main: rgb(238, 239, 244);
    --shadow: rgb(142, 104, 37);
}

html {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(140deg, rgb(255, 222, 89), rgb(255, 145, 77));
    color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img#texture {
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    position: fixed;
    z-index: -1;
}