:root {
    --background: #ffd65b;
    --text-and-stroke: #1d5fe8;
    --main: #eeeff4;
    --shadow: #8e6825;
}

html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(140deg, #ffde59, #ff914d);
    color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    opacity: 1;
}

.hidden {
    display: none;
    opacity: 0;
}

img#texture {
    width: 100vw;
    height: 100vh;
    opacity: 0.25;
    position: fixed;
    z-index: -1;
}

aside {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

div#photo-container {
    width: 400px;
    height: 475px;
    margin: 0;
    padding: 0;
    background: var(--main);
    border: solid 14px var(--text-and-stroke);
    border-radius: 70px;
    box-shadow: 25px 25px 4px rgba(142, 104, 37, 0.2);
    color: var(--text-and-stroke);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img#profile {
    width: 325px;
    height: 325px;
    margin: 25px;
    margin-bottom: 0;
    border: solid 7px var(--text-and-stroke);
    border-radius: 45px 45px 0 0;
}

p#photo-click-action {
    margin: auto;
}

article {
    width: auto;
    height: 400px;
    font-size: 2rem;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p,
h1 {
    margin: 0;
}

h1 {
    font-size: 6rem;
    font-family: 'DM Serif Text', sans-serif;
    text-shadow: 3px 3px 4px var(--shadow);
}

.highlight {
    color: var(--text-and-stroke);
}

div#number-info{
    padding-top: 50px;
}

ul#contact-socials-list{
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li a{
    color: var(--text-and-stroke);
    text-decoration: none;
}